<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Profile</h1>

  <div class="col-xl-4 col-lg-7 col-md-12">

    <div class="form-group">
      <label for="email">Email address</label>
      <input type="email" class="form-control" id="email" aria-describedby="emailHelp" [attr.placeholder]="user.email" disabled>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <form [formGroup]="updateUserForm" (ngSubmit)="onSubmit()">

          <div class="form-group">
            <label for="password">Update password</label>
            <input type="text" class="form-control" formControlName="password" id="password" placeholder="Enter new password">
          </div>

          <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Update</button>
        </form>
      </div>

    </div>

  </div>

</div>
