<div class="container-fluid" *ngIf="project != null">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">
    <i class="fab fa-android text-success" *ngIf="project.platform === 'android'"></i>
    <i class="fab fa-apple text-dark" *ngIf="project.platform === 'ios'"></i> | {{ project.name }}</h1>


  <div class="col-xl-4 col-lg-6 col-md-12">

    <ul class="list-group" *ngIf="project.jobs.length !== 0">
      <a href="#" class="list-group-item list-group-item-action" *ngFor="let job of project.jobs">
        <div class="d-flex justify-content-between align-items-center">
          <span>{{ job.title }}  <span class="badge badge-dark">{{ job.finishTime | date: 'dd.MM.yyyy HH:mm:ss' }}</span></span>
          <i class="fas fa-download"></i>
        </div>
        <div *ngIf="job.changeLog != null">
          <hr />
          {{ job.changeLog }}
        </div>
      </a>

    </ul>

    <div *ngIf="project.jobs.length === 0">
      No jobs to show
    </div>

  </div>

</div>
