<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Profile</h1>

  <div class="col-xl-4 col-lg-7 col-md-12">


    <div class="form-group">
      <label for="exampleInputEmail1">Email address</label>
      <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="jan.ficko@gmail.com" disabled>
    </div>

    <div class="card shadow mb-4">
      <div class="card-body">
        <form action="login.html">

          <div class="form-group">
            <label for="exampleInputPassword1">Update password</label>
            <input type="text" class="form-control" id="exampleInputPassword1" placeholder="Enter new password">
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
        </form>
      </div>

    </div>

  </div>

</div>
