<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User: {{ user.email }}</h1>

  <div class="col-xl-6 col-lg-9 col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <form>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="adminCheck" [attr.checked]="user.isAdmin">
            <label class="form-check-label" for="adminCheck">
              Administrator
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" type="checkbox" value="" id="banCheck" [attr.checked]="user.isBanned">
            <label class="form-check-label" for="banCheck">
              Ban
            </label>
          </div>


          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>
                  <i class="fab fa-android text-success"></i> Android
                </th>
                <th>
                  <i class="fab fa-apple text-dark"></i> iOS
                </th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>
                  <i class="fab fa-android text-success"></i> Android
                </th>
                <th>
                  <i class="fab fa-apple text-dark"></i> iOS
                </th>
              </tr>
              </tfoot>
              <tbody>
              <tr>
                <td>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="64check" checked>
                    <label class="form-check-label" for="64check">
                      Urbana
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="64check_full" checked>
                        <label class="form-check-label" for="64check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>


                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="65check" checked>
                    <label class="form-check-label" for="65check">
                      Študentska prehrana
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="65check_full" checked>
                        <label class="form-check-label" for="65check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-inpuindext" type="checkbox" value="" id="66check" checked>
                    <label class="form-check-label" for="66check">
                      Valu
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="66check_full">
                        <label class="form-check-label" for="66check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="67check" checked>
                    <label class="form-check-label" for="67check">
                      Nomago
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="67check_full">
                        <label class="form-check-label" for="67check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="68check" checked>
                    <label class="form-check-label" for="68check">
                      Moje kartice
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="68check_full">
                        <label class="form-check-label" for="68check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                </td>
                <td>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="75check" checked>
                    <label class="form-check-label" for="75check">
                      Študentska prehrana
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="75check_full">
                        <label class="form-check-label" for="75check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="76check" checked>
                    <label class="form-check-label" for="76check">
                      Valu
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="76check_full">
                        <label class="form-check-label" for="76check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="77check" checked>
                    <label class="form-check-label" for="77check">
                      Nomago
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="77check_full">
                        <label class="form-check-label" for="77check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                  <div class="form-check">
                    <input class="form-check-input" type="checkbox" value="" id="78check" checked>
                    <label class="form-check-label" for="78check">
                      Moje kartice
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" id="78check_full">
                        <label class="form-check-label" for="78check_full">
                          All versions
                        </label>
                      </div>
                    </label>
                  </div>

                </td>
              </tr>
              </tbody>
            </table>
          </div>



          <div class="form-group">
            <input type="text" class="form-control" id="password" placeholder="Enter new password for user">
          </div>

          <button type="submit" class="btn btn-primary btn-lg btn-block">Update</button>
        </form>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid" *ngIf="user.userActivity != null">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Activity log</h1>

  <div class="col-xl-6 col-lg-9 col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">

        <div class="table-responsive">
          <table class="table table-hover table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>IP</th>
              <th>Timestamp</th>
              <th>Activity</th>
              <th>Type</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>IP</th>
              <th>Timestamp</th>
              <th>Activity</th>
              <th>Type</th>
            </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let activity of user.userActivity">
                <td>{{ activity.ip }}</td>
                <td>{{ activity.time | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                <td>{{ activity.activity }}</td>
                <td>{{ activity.activityType }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>


    </div>

  </div>

</div>
