<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">User: {{ user.email }}</h1>

  <div class="col-xl-6 col-lg-9 col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <form [formGroup]="editUserForm" (ngSubmit)="onSubmit()" >
          <div class="form-check">
            <input class="form-check-input" formControlName="isAdmin" type="checkbox" id="adminCheck" [checked]="user.isAdmin" (click)="toggleCheckbox('isAdmin')">
            <label class="form-check-label" for="adminCheck">
              Administrator
            </label>
          </div>
          <div class="form-check">
            <input class="form-check-input" formControlName="isBanned" type="checkbox" id="banCheck" [checked]="user.isBanned" (click)="toggleCheckbox('isBanned')">
            <label class="form-check-label" for="banCheck">
              Ban
            </label>
          </div>


          <div class="table-responsive">
            <table class="table table-bordered" width="100%" cellspacing="0">
              <thead>
              <tr>
                <th>
                  <i class="fab fa-android text-success"></i> Android
                </th>
                <th>
                  <i class="fab fa-apple text-dark"></i> iOS
                </th>
              </tr>
              </thead>
              <tfoot>
              <tr>
                <th>
                  <i class="fab fa-android text-success"></i> Android
                </th>
                <th>
                  <i class="fab fa-apple text-dark"></i> iOS
                </th>
              </tr>
              </tfoot>
              <tbody>
              <tr>
                <td>

                  <div class="form-check" *ngFor="let androidProject of androidProjects">
                    <input class="form-check-input" type="checkbox" value="" [attr.formControlName]="'check_'+androidProject.projectId" [checked]="androidProject.hasPermission" (click)="toggleCheckbox('check_'+androidProject.projectId)">
                    <label class="form-check-label" [attr.for]="'check_'+androidProject.projectId">
                      {{ androidProject.name }}
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" [attr.formControlName]="'checkfull_'+androidProject.projectId" [checked]="androidProject.hasFullAccess" (click)="toggleCheckbox('checkfull_'+androidProject.projectId)">
                        <label class="form-check-label" [attr.for]="'checkfull_'+androidProject.projectId">All versions</label>
                      </div>
                    </label>
                  </div>


                </td>
                <td>

                  <div class="form-check" *ngFor="let iosProject of iosProjects">
                    <input class="form-check-input" type="checkbox" value="" [attr.formControlName]="'check_'+iosProject.projectId" [checked]="iosProject.hasPermission" (click)="toggleCheckbox('check_'+iosProject.projectId)">
                    <label class="form-check-label" [attr.for]="'check_'+iosProject.projectId">
                      {{ iosProject.name }}
                      <div class="form-check">
                        <input class="form-check-input" type="checkbox" value="" [attr.formControlName]="'checkfull_'+iosProject.projectId" [checked]="iosProject.hasFullAccess" (click)="toggleCheckbox('checkfull_'+iosProject.projectId)">
                        <label class="form-check-label" [attr.for]="'checkfull_'+iosProject.projectId">All versions</label>
                      </div>
                    </label>
                  </div>

                </td>
              </tr>
              </tbody>
            </table>
          </div>

          <div class="form-group">
            <input type="text" formControlName="password" class="form-control" id="newPassword" placeholder="Enter new password for user">
          </div>

          <button [disabled]="loading" class="btn btn-primary btn-lg btn-block">Update</button>
        </form>
      </div>

    </div>

  </div>

</div>

<div class="container-fluid" *ngIf="user.userActivity.length !== 0">

  <h1 class="h3 mb-2 text-gray-800">Activity log</h1>

  <div class="col-xl-6 col-lg-9 col-md-12">
    <div class="card shadow mb-4">
      <div class="card-body">
        <div class="table-responsive">
          <table class="table table-hover table-bordered" width="100%" cellspacing="0">
            <thead>
            <tr>
              <th>IP</th>
              <th>Timestamp</th>
              <th>Activity</th>
              <th>Type</th>
            </tr>
            </thead>
            <tfoot>
            <tr>
              <th>IP</th>
              <th>Timestamp</th>
              <th>Activity</th>
              <th>Type</th>
            </tr>
            </tfoot>
            <tbody>
              <tr *ngFor="let activity of user.userActivity">
                <td>{{ activity.ip }}</td>
                <td>{{ activity.time | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
                <td>{{ activity.activity }}</td>
                <td>{{ activity.activityType }}</td>
              </tr>
            </tbody>
          </table>
        </div>
      </div>
    </div>
  </div>

</div>
