<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Activity log</h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>E-mail</th>
            <th>Activity</th>
            <th>IP</th>
            <th>Timestamp</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>E-mail</th>
            <th>Activity</th>
            <th>IP</th>
            <th>Timestamp</th>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.03.2019 11:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Download | Urbana | <i class="fab fa-android text-success"></i></td>
            <td>191.85.108.32</td>
            <td>01.04.2019 13:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Download | Študentska prehrana | <i class="fab fa-apple text-dark"></i></td>
            <td>191.85.108.32</td>
            <td>01.07.2019 05:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Download | Moje kartice | <i class="fab fa-apple text-dark"></i></td>
            <td>191.85.108.32</td>
            <td>01.13.2019 16:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com></td>
            <td>Download | Valu | <i class="fab fa-android text-success"></i></td>
            <td>191.85.108.32</td>
            <td>01.23.2019 20:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 15:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 16:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 17:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 18:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 19:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 20:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 21:24</td>
          </tr>
          <tr>
            <td>jan.ficko@gmail.com</td>
            <td>Login</td>
            <td>191.85.108.32</td>
            <td>01.24.2019 22:24</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
