<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users <a [routerLink]="'/user-create'"><i class="fas fa-fw fa-user-plus text-black"></i></a></h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Email</th>
            <th>Administrator</th>
            <th>Registration</th>
            <th>Last login</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Email</th>
            <th>Administrator</th>
            <th>Registration</th>
            <th>Last login</th>
          </tr>
          </tfoot>
          <tbody>
          <tr *ngFor="let user of users">
            <td>{{ user.email }}
              <a [routerLink]="['/user-edit', user._id]" class="btn-link-dark">
                <i class="fas fa-fw fa-user-edit"></i>
              </a>
              <i tabindex="0" class="fas fa-fw fa-ban text-danger" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Blocked" *ngIf="user.isBanned"></i>
            </td>
            <td>
              <div *ngIf="user.isAdmin;then isAdmin_content else isAdmin_otherContent"></div>
              <ng-template #isAdmin_content><i class="fas fa-fw fa-check" ></i></ng-template>
              <ng-template #isAdmin_otherContent><i class="fas fa-fw fa-times"></i></ng-template>
            </td>
            <td>{{ user.registerTime | date: 'dd.MM.yyyy HH:mm:ss' }}</td>
            <td>
              <div *ngIf="user.userActivity.length !== 0;then time_content else time_otherContent"></div>
              <ng-template #time_content>{{ user.userActivity[user.userActivity.length - 1].time | date: 'dd.MM.yyyy HH:mm:ss' }}</ng-template>
              <ng-template #time_otherContent>/</ng-template>
            </td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
