<!-- Begin Page Content -->
<div class="container-fluid">

  <!-- Page Heading -->
  <h1 class="h3 mb-2 text-gray-800">Users <a href="user-create.html"><i class="fas fa-fw fa-user-plus"></i></a></h1>

  <!-- DataTales Example -->
  <div class="card shadow mb-4">
    <div class="card-body">
      <div class="table-responsive">
        <table class="table table-hover table-bordered" id="dataTable" width="100%" cellspacing="0">
          <thead>
          <tr>
            <th>Email</th>
            <th>Projects</th>
            <th>Administrator</th>
            <th>Registration</th>
            <th>Last login</th>
          </tr>
          </thead>
          <tfoot>
          <tr>
            <th>Email</th>
            <th>Projects</th>
            <th>Administrator</th>
            <th>Registration</th>
            <th>Last login</th>
          </tr>
          </tfoot>
          <tbody>
          <tr>
            <td>jan.ficko@gmail.com <a href="user-edit.html"><i class="fas fa-fw fa-user-edit"></i></a></td>
            <td>
              <i tabindex="0" class="fab fa-android text-success" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Urbana, Študentska prehrana, Nomago, Valu, Moje kartice"></i>
              <i tabindex="0" class="fab fa-apple text-dark" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Študentska prehrana, Nomago, Valu, Moje kartice"></i>
            </td>
            <td><i class="fas fa-fw fa-check"></i></td>
            <td>24.02.2019 07:24</td>
            <td>01.03.2019 11:24</td>
          </tr>
          <tr>
            <td>
              natanael.ahac@gmail.com
              <a href="user-edit.html"><i class="fas fa-fw fa-user-edit"></i></a>
              <i tabindex="0" class="fas fa-fw fa-ban text-danger" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" title="Blocked" data-content="User has beem blocked on: 03.03.2019 12:00"></i>
            </td>
            <td></td>
            <td><i class="fas fa-fw fa-times"></i></td>
            <td>24.02.2019 07:24</td>
            <td>02.03.2019 11:24</td>
          </tr>
          <tr>
            <td>jani.trstenjak@gmail.com <a href="user-edit.html"><i class="fas fa-fw fa-user-edit"></i></a></td>
            <td>
              <i tabindex="0" class="fab fa-android text-success" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Urbana, Študentska prehrana, Nomago, Valu, Moje kartice"></i>
            </td>
            <td><i class="fas fa-fw fa-times"></i></td>
            <td>24.02.2019 07:24</td>
            <td>03.03.2019 11:24</td>
          </tr>
          <tr>
            <td>dragan.maric@gmail.com <a href="user-edit.html"><i class="fas fa-fw fa-user-edit"></i></a></td>
            <td>
            </td>
            <td><i class="fas fa-fw fa-times"></i></td>
            <td>24.02.2019 07:24</td>
            <td>04.03.2019 11:24</td>
          </tr>
          <tr>
            <td>luka.pernousek@gmail.com <a href="user-edit.html"><i class="fas fa-fw fa-user-edit"></i></a></td>
            <td>
              <i tabindex="0" class="fab fa-apple text-dark" role="button" data-toggle="popover" data-placement="top" data-trigger="focus" data-content="Študentska prehrana, Nomago, Valu, Moje kartice"></i>
            </td>
            <td><i class="fas fa-fw fa-times"></i></td>
            <td>24.02.2019 07:24</td>
            <td>05.03.2019 11:24</td>
          </tr>
          </tbody>
        </table>
      </div>
    </div>
  </div>

</div>
